html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html {
    font-size: 16px;
}

body {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    width: 90vw;
    height: 10vh;
    background-color: rgb(222, 201, 173);
    border-radius: 4rem;
}

header>nav>ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

header>nav>ul>li>p {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(117, 110, 100);
}

header>nav>ul>li:nth-child(2)>p {
    font-size: 1.75em;
}

main>section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

main>section>ul {
    list-style: none;
    background-color: rgb(222, 201, 173);
    width: 50vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
}

main>section>ul>li {
    color: rgb(117, 110, 100);
    cursor: pointer;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

main>video {
    border-radius: 2rem;
    width: 70vw;
}

.scaleHover:hover {
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 2rem;
}

.scaleHover {
    transition: ease-in-out 0.25s;
}

#modale {
    width: 50vw;
    height: 60vh;
    background-color: transparent;
}

#importOverlay {
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#page1 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4rem;
    gap: 2rem;
    border: 1px solid black;
}

#page1 button{
    background-color: rgb(0, 140, 255);
    width: 70%;
    height: 10%;
    color: white;
    border-radius: 2rem;
    border: solid black 1px;
}

#importOwnM3u {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
}
#importOwnM3u>input:last-child {
    background-color: rgb(0, 140, 255);
    width: 60%;
    height: 8%;
    color: white;
    border-radius: 2rem;
    border: solid black 1px;
}

#importOwnM3u>label>input {
    display: none;
}

#importOwnM3u>label:first-child {
    padding: 1rem;
    background-color: rgb(0, 140, 255);
    border-radius: 2rem;
    color: white;
    border: solid 1px black;
    text-align: center;
}